<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explorer">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Explora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destination">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Quiero ir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="oferts">
      <ion-icon aria-hidden="true" name="pricetag-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Billetera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
