<div>
  
</div>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿A donde vamos?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¿A donde vamos?</ion-title>
    </ion-toolbar>
    <ion-searchbar  placeholder="Escribe un destino"></ion-searchbar>
  </ion-header>


  <ion-card class="card-background-flight">
    <ion-card-header>
      <ion-card-title style="color: #FFFFFF; font-size: 19px;">Vuelos</ion-card-title>
    </ion-card-header>
  
  </ion-card>

  <ion-card class="card-background-lodging">
    <ion-card-header>
      <ion-card-title style="color: #FFFFFF; font-size: 19px;">Hospedaje</ion-card-title>
    </ion-card-header>
  
  </ion-card>
  <div class="card-background-background">
    <ion-card class="card-background-login">
      <div style="text-align: center;">
        <p style="color: #000000; font-size: 19px; font-weight: 600;">Obten los beneficios </p> 
        <p style="color: #000000; font-size: 19px; font-weight: 600;">de ser un  we-Traveler</p>
      </div>
      <h1 style="color: #7F00B2; font-weight: 800; text-align: center;">Acumula millas</h1>
  
      <div>
        <ion-grid>
          <ion-row style="border: 1px solid; border-color: #7F00B2; border-radius: 4px;">
            <ion-col  size="3">
              <img style="margin-left:45px" src="../../assets/images/google.png" alt="">
            </ion-col>
            <ion-col  size="8" style="color: #000000; font-weight: 400; font-size: 14px;">Inicia sesión con google</ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <div>
        <ion-grid>
          <ion-row style="border: 1px solid; border-color: #7F00B2; border-radius: 4px;">
            <ion-col  size="3">
              <img style="margin-left:45px" src="../../assets/images/apple.png" alt="">
            </ion-col>
            <ion-col  size="8" style="color: #000000; font-weight: 400; font-size: 14px;">Inicia sesión con apple</ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <div>
        <ion-grid>
          <ion-row style="border: 1px solid; border-color: #7F00B2; border-radius: 4px;">
            <ion-col  size="3">
              <img style="margin-left:45px" src="../../assets/images/facebook.png" alt="">
            </ion-col>
            <ion-col  size="8" style="color: #000000; font-weight: 400; font-size: 14px;">Inicia sesión con Facebook</ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-card-header>
        
        <ion-button expand="block" style="height: 33px;">Regístrate</ion-button> 
      </ion-card-header>
    
    </ion-card>
  
  </div>

  
 
</ion-content>
