<ion-content [fullscreen]="true">

  <div style="margin-left: 25px; margin-right: 25px;">
    <ion-grid>
      <ion-row style="text-align: center; width: 100%;">
        <ion-col>
          <ion-text style="font-size: 13px; font-weight: 700;">CCS-MAD</ion-text>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col style="color: #4A54D6; font-weight: 600;" (click)="goToBack()">Atrás</ion-col>
        <ion-col style="text-align: end;">
          <img style="margin: 5px; margin-bottom: 0px;" src="../../assets/images/wepng.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <img src="../../assets/images/line.png" alt="">
      </ion-row>
      <ion-row>
        <ion-text style="margin: 5px; color: #4A54D6; font-weight: 600; font-size: 10px;">Selecciona tu vuelo > Revisa tu
          viaje > listo!</ion-text>
      </ion-row>
    </ion-grid>
  </div>
  <div style="margin-left: 25px; margin-right: 25px;">
    <h1>Selecciona tu vuelo</h1>
  </div>

  <div style="margin-left: 25px; margin-right: 25px;">
    <ion-text style="margin: 5px; color: #7A7A7A; font-weight: 400; font-size: 10px;">
      Los precios mostrados incluyen impuestos y pueden variar en función de la disponibilidad. Puedes consultar las tasas adicionales antes de realizar el pago. Es posible que los precios cambien antes de que finalices la reserva.
    </ion-text>
  </div>

  <div>
    <ion-card >
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title style="color: #FFFFFF; font-size: 13px;">07:00 a 23:45</ion-card-title>
            </ion-card-header>
          
            <ion-card-content style="font-size: 10px;">
              <ion-text style="margin-bottom: 15px;">
                Caracas (CCS) - Madrid (MAD)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                9h45min (sin escalas)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                Avianca
              </ion-text>
            </ion-card-content>
          </ion-col>
          <ion-col size="4" style="margin-top: 10%;">
            <ion-text style="font-size: 20px;">
              1396 €
            </ion-text> <br>
            <ion-text style="font-size: 10px;">
              Solo ida por persona
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div>
    <ion-card >
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title style="color: #FFFFFF; font-size: 13px;">07:00 a 23:45</ion-card-title>
            </ion-card-header>
          
            <ion-card-content style="font-size: 10px;">
              <ion-text style="margin-bottom: 15px;">
                Caracas (CCS) - Madrid (MAD)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                9h45min (sin escalas)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                Avianca
              </ion-text>
            </ion-card-content>
          </ion-col>
          <ion-col size="4" style="margin-top: 10%;">
            <ion-text style="font-size: 20px;">
              1396 €
            </ion-text> <br>
            <ion-text style="font-size: 10px;">
              Solo ida por persona
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div>
    <ion-card >
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title style="color: #FFFFFF; font-size: 13px;">07:00 a 23:45</ion-card-title>
            </ion-card-header>
          
            <ion-card-content style="font-size: 10px;">
              <ion-text style="margin-bottom: 15px;">
                Caracas (CCS) - Madrid (MAD)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                9h45min (sin escalas)
              </ion-text><br>
              <ion-text style="margin-bottom: 15px;">
                Avianca
              </ion-text>
            </ion-card-content>
          </ion-col>
          <ion-col size="4" style="margin-top: 10%;">
            <ion-text style="font-size: 20px;">
              1396 €
            </ion-text> <br>
            <ion-text style="font-size: 10px;">
              Solo ida por persona
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>



  <div style="margin: 20px;">
    <ion-button expand="block" style="height: 33px; border-radius: 5px; font-weight: 400;">Empezar a Viajar</ion-button>
  </div>



</ion-content>