
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Ionic Swiper </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goPrev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="goNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <swiper-container [slidesPerView]="1.5" [loop]="true" [pagination]="true">
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide ...</swiper-slide>
  </swiper-container>
  
</ion-content>
